body {
    font-family: "SF Pro", "sans-serif";
    background-color: darkturquoise;
}

.titre {
     font-size: 2vh;
    /*margin-left: 25%;*/
    /*background: darkcyan;*/
    /*width: 50%;*/
    /*display: flex;*/
    /*border-radius: 6px;*/
    /*justify-content: center;*/
    /*color: white;*/
}

.today{
    font-size: 6vh;
    font-weight: bold;
}


#boutonPlus{
    margin-top: 5px;
    width: 340px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 2vh;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: transform 0.2s;
}

#boutonPlus:hover{
    transform: scale(1.03);
}
#liste-tache {
    margin-top: 5px;
    /*background-color: lightsteelblue;*/
    padding: 5px;
}

#plus {

}

#creation-tache {
    margin: 30px;
    background-color: slateblue;
    border-radius: 6px;
    padding: 10px;
}

.nomDeLaTache{
    font-size: 2vh;
}

.div-nomTache {
    display: flex;
    flex-direction: column;
}

.descriptionTache{
    display: flex;
    flex-direction: column;
}

.boutonValider{

}

#div-tache{
    background-color: lightsteelblue;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}
.cache {
    display: none;
}

.afficher{
    display: block;
}

/*@media (max-width: 800px) {*/
/*    .titre {*/
/*        width: 70%;*/
/*        margin-left: 15%;*/
/*    }*/
/*}*/

/*@media (max-width: 344px) {*/
/*    .titre {*/
/*        width: 70%;*/
/*        margin-left: 15%;*/
/*        font-size: 2vh;*/
/*    }*/
/*}*/

/*@media (max-width: 160px) {*/
/*    .titre {*/
/*        width: 70%;*/
/*        margin-left: 15%;*/
/*        font-size: 1vh;*/
/*    }*/
/*}*/


.tache {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid darkcyan;
    display: block;
}